VITE_SUPABASE_URL=https://qltltpnggkmwzoowygaw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsdGx0cG5nZ2ttd3pvb3d5Z2F3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NDQ5MzUsImV4cCI6MjA5MDAyMDkzNX0.0bPZuo_546x7ufwql-5UOGzHN6SYKWWe5-Zo1sBr-4g
